@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-rajdhani: var(--font-rajdhani);
  --font-inter: var(--font-inter);
  --font-space-grotesk: var(--font-space-grotesk);
  --font-jetbrains: var(--font-jetbrains);
  --font-titillium: var(--font-titillium);
  --font-montserrat: var(--font-montserrat);
  --font-ibm: var(--font-ibm);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}


/* Playground Imports */
@import "./style.css";
@import "../components/driver-matchup-predictions.css";
@import "../components/f1-bet-remote-control.css";
@import "../components/footer.css";
@import "../components/logo.css";
@import "../components/navigation.css";



@custom-variant dark (&:is(.dark *));
