@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


/* Playground Imports */
@import "./playground-style.css";
@import "../components/driver-matchup-predictions.css";
@import "../components/f1-bet-remote-control.css";
@import "../components/footer.css";
@import "../components/logo.css";
@import "../components/navigation.css";
@import "../views/bet-now.css";
@import "../views/homepage.css";
@import "../views/terms-conditions.css";
